* {
  text-transform: capitalize;
  font-family: "Space Grotesk", sans-serif;
}

.nav-items a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
  cursor: pointer;
}
.nav-btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 13px 17px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

.hero-btn {
  padding: 13px 17px;
  border: 1px solid black;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
}
